{% extends "base.html" %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="">PhotoAlbum</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/albums">Мои альбомы</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/categories">Голосование</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/rating">Рейтинг</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    {{user.username}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/profile">Профиль</a>
                    <a class="dropdown-item" href="/logout">Выход</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<main role="main" class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-white">
            <li class="breadcrumb-item"><a href="/categories">Категории</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{category.title}}</li>
        </ol>
    </nav>

    <div class="alert bg-light">
        <form action="/category/{{category.id}}" method="post">
            <div class="row">
                <div class="col">
                    <label>Название</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" name='title' value="{{category.title}}" required autofocus>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary">Изменить</button>
                </div>
            </div>
        </form>
    </div>


</main>

{% endblock %}