{% extends "base.html" %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="">PhotoAlbum</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/albums">Мои альбомы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/categories">Голосование</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/rating">Рейтинг</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    {{user.username}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/profile">Профиль</a>
                    <a class="dropdown-item" href="/logout">Выход</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<main role="main" class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-white">
            <li class="breadcrumb-item active" aria-current="page"><a href="/rating">Рейтинг</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{category.title}}</li>
        </ol>
    </nav>

    {% for photo in photos %}
    <div class="alert bg-light">
        <div class="row">
            <div class="col">
                <img class="d-block w-100" src="/photo_img/{{photo.id}}" alt="">
            </div>
            <div class="col">
                <h2>
                    {% if photo.place <=3 %}
                    <img src="/static/img/{{photo.place}}.png" height="96">
                    {% else %}
                    {{photo.place}}
                    {% endif %}
                    место
                </h2>
                <h5>Рейтинг:
                    {{photo.rating}} &nbsp;&nbsp;&nbsp;
                    <span class="badge badge-success">
                    <img src="/static/img/up.gif">{{ photo.good_votes|length }}
                    </span>
                    <span class="badge badge-danger">
                    <img src="/static/img/down.gif">{{ photo.bad_votes|length }}
                    </span>
                </h5>
                <h5>Автор: {{photo.album.user.name}} {{photo.album.user.surname}}</h5>
                <h5>Название: {{photo.title}}</h5>
                <h5>Описание:</h5>
                {% for line in photo.description.split('\n') %}
                {{line}}
                <br>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
    {% endfor %}


</main>

{% endblock %}